* {
  box-sizing: border-box;
}
#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
img{
  width: 100px;
  height: 100px;
}

label.star-container {
  display: inline-block;
  position: relative;
}
.star{
  width: 25px;
  height: 25px;
  content: url(https://img.icons8.com/?size=100&id=104&format=png);
}
input[type="radio"]:checked + .star {
  width: 25px;
  height: 25px;
  content: url(https://img.icons8.com/?size=100&id=7856&format=png);
}

input[type="radio"]{
    display: none;
}



.card {
  width: 40%;
  float:left;
}
.song_display{
  width: 100%;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.song_embed{
  width: 50%;
  float:right;
}

ul{
  list-style:none;
}